In [1]:
#Importing the Libraries
import pandas as pd
import numpy as np
import math
import numpy as np

In [2]:
#Reading the Files
xor = pd.read_excel('Company X - Order Report.xlsx')
xpz = pd.read_excel('Company X - Pincode Zones.xlsx')
xsku = pd.read_excel('Company X - SKU Master.xlsx')
ci = pd.read_excel('Courier Company - Invoice.xlsx')
cr = pd.read_excel('Courier Company - Rates.xlsx')
er = pd.read_excel('Expected_Result.xlsx')

In [3]:
#Company X - Order Report
xor

     ExternOrderNo            SKU  Order Qty
0       2001827036  8904223818706        1.0
1       2001827036  8904223819093        1.0
2       2001827036  8904223819109        1.0
3       2001827036  8904223818430        1.0
4       2001827036  8904223819277        1.0
..             ...            ...        ...
395     2001806229  8904223818942        1.0
396     2001806229  8904223818850        1.0
397     2001806226  8904223818850        2.0
398     2001806210  8904223816214        1.0
399     2001806210  8904223818874        1.0

[400 rows x 3 columns]

In [4]:
#Company X - Pincode Zones
xpz

     Warehouse Pincode  Customer Pincode Zone
0               121003            507101    d
1               121003            486886    d
2               121003            532484    d
3               121003            143001    b
4               121003            515591    d
..                 ...               ...  ...
119             121003            325207    b
120             121003            303702    b
121             121003            313301    b
122             121003            173212    e
123             121003            302020    b

[124 rows x 3 columns]

In [5]:
#Company X - SKU Master
xsku

              SKU  Weight (g)
0   8904223815682         210
1   8904223815859         165
2   8904223815866         113
3   8904223815873          65
4   8904223816214         120
..            ...         ...
61  8904223819505         210
62  8904223819499         210
63  8904223819512         210
64  8904223819543         300
65     SACHETS001          10

[66 rows x 2 columns]

In [6]:
#Courier Company - Invoice
ci

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4

In [7]:
#Courier Company - Rates
cr

,fwd_a_fixed,fwd_a_additional,fwd_b_fixed,fwd_b_additional,fwd_c_fixed,fwd_c_additional,fwd_d_fixed,fwd_d_additional,fwd_e_fixed,fwd_e_additional,rto_a_fixed,rto_a_additional,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional
0,29.5,23.6,33,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5

In [8]:
#Merging xor and xsku on SKU
xor = pd.merge(xor,xsku,on='SKU')

In [9]:
xor

     ExternOrderNo            SKU  Order Qty  Weight (g)
0       2001827036  8904223818706        1.0         127
1       2001821995  8904223818706        1.0         127
2       2001819252  8904223818706        1.0         127
3       2001816996  8904223818706        1.0         127
4       2001814580  8904223818706        1.0         127
..             ...            ...        ...         ...
396     2001806616  8904223819123        1.0         250
397     2001806567  8904223815804        1.0         160
398     2001806567  8904223818577        1.0         150
399     2001806408  8904223819437        2.0         552
400     2001806232  8904223818645        6.0         137

[401 rows x 4 columns]

In [10]:
#Converting Weight in grams to Kilogrmas and creating a new column of the same
xor['Weight (kg)'] = xor['Weight (g)']/1000

In [11]:
#Creating a new column "Additional" to make the calculation easy for calculating Weight Slab and more
xor['Additional'] = (xor['Weight (kg)']/0.500000001)
xor['Additional'] = xor['Additional'].apply(np.int64)
xor['Weight slab as per X (KG)'] = ((xor['Additional']+1)*0.5)

In [12]:
xor

,ExternOrderNo,SKU,Order Qty,Weight (g),Weight (kg),Additional,Weight slab as per X (KG)
0,2001827036,8904223818706,1.0,127,0.127,0,0.5
1,2001821995,8904223818706,1.0,127,0.127,0,0.5
2,2001819252,8904223818706,1.0,127,0.127,0,0.5
3,2001816996,8904223818706,1.0,127,0.127,0,0.5
4,2001814580,8904223818706,1.0,127,0.127,0,0.5
...,...,...,...,...,...,...,...
396,2001806616,8904223819123,1.0,250,0.250,0,0.5
397,2001806567,8904223815804,1.0,160,0.160,0,0.5
398,2001806567,8904223818577,1.0,150,0.150,0,0.5
399,2001806408,8904223819437,2.0,552,0.552,1,1.0
400,2001806232,8904223818645,6.0,137,0.137,0,0.5

In [13]:
#Renaming it Order ID
xor = xor.rename(columns = {'ExternOrderNo':'Order ID'})
xor

,Order ID,SKU,Order Qty,Weight (g),Weight (kg),Additional,Weight slab as per X (KG)
0,2001827036,8904223818706,1.0,127,0.127,0,0.5
1,2001821995,8904223818706,1.0,127,0.127,0,0.5
2,2001819252,8904223818706,1.0,127,0.127,0,0.5
3,2001816996,8904223818706,1.0,127,0.127,0,0.5
4,2001814580,8904223818706,1.0,127,0.127,0,0.5
...,...,...,...,...,...,...,...
396,2001806616,8904223819123,1.0,250,0.250,0,0.5
397,2001806567,8904223815804,1.0,160,0.160,0,0.5
398,2001806567,8904223818577,1.0,150,0.150,0,0.5
399,2001806408,8904223819437,2.0,552,0.552,1,1.0
400,2001806232,8904223818645,6.0,137,0.137,0,0.5

In [14]:
ci

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4

In [15]:
#Merging ci and xor on Order ID
cc = pd.merge(ci,xor,on='Order ID')

In [16]:
#Calculating the Total Weight
cc['Total Weight (in KG)'] = cc['Order Qty']*cc['Weight (kg)']

In [17]:
cc

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),SKU,Order Qty,Weight (g),Weight (kg),Additional,Weight slab as per X (KG),Total Weight (in KG)
0,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,8904223819147,2.0,240,0.240,0,0.5,0.480
1,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,8904223818645,6.0,137,0.137,0,0.5,0.822
2,1091117222194,2001806273,1.0,121003,486886,d,Forward charges,90.2,8904223818706,1.0,127,0.127,0,0.5,0.127
3,1091117222194,2001806273,1.0,121003,486886,d,Forward charges,90.2,8904223818850,1.0,240,0.240,0,0.5,0.240
4,1091117222194,2001806273,1.0,121003,486886,d,Forward charges,90.2,8904223818942,1.0,133,0.133,0,0.5,0.133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,1091121844806,2001811475,0.5,121003,173212,b,Forward charges,33.0,8904223819499,1.0,210,0.210,0,0.5,0.210
397,1091121846136,2001811305,0.5,121003,302020,d,Forward charges,45.4,8904223816214,1.0,120,0.120,0,0.5,0.120
398,1091121846136,2001811305,0.5,121003,302020,d,Forward charges,45.4,8904223819512,1.0,210,0.210,0,0.5,0.210
399,1091121846136,2001811305,0.5,121003,302020,d,Forward charges,45.4,8904223819499,1.0,210,0.210,0,0.5,0.210
400,1091121846136,2001811305,0.5,121003,302020,d,Forward charges,45.4,8904223819505,1.0,210,0.210,0,0.5,0.210

In [18]:
#Dropping unnecessary columns
cc = cc.drop('Warehouse Pincode', 1)
cc = cc.drop('Customer Pincode', 1)
cc = cc.drop('Weight (kg)', 1)
cc = cc.drop('SKU', 1)
cc = cc.drop('Weight (g)', 1)
cc = cc.drop('Weight slab as per X (KG)', 1)
cc = cc.drop('Additional',1)

In [19]:
#creating list unique as well as non repeating order ids 
nl = []
for i in cc['Order ID']:
    nl.append(i)
nl

l = []
for i in cc['Order ID'].unique():
    l.append(i)
l

[2001806232,
 2001806273,
 2001806408,
 2001806458,
 2001807012,
 2001806686,
 2001806885,
 2001807058,
 2001807186,
 2001807290,
 2001807814,
 2001807931,
 2001807956,
 2001807960,
 2001807930,
 2001808102,
 2001808118,
 2001808207,
 2001808295,
 2001808507,
 2001808542,
 2001808675,
 2001807976,
 2001812838,
 2001816684,
 2001817160,
 2001818390,
 2001821190,
 2001817093,
 2001823564,
 2001825261,
 2001811192,
 2001809917,
 2001806210,
 2001806226,
 2001806229,
 2001806233,
 2001806251,
 2001806338,
 2001806446,
 2001806533,
 2001806547,
 2001806567,
 2001806575,
 2001806616,
 2001806652,
 2001806733,
 2001806735,
 2001806726,
 2001806776,
 2001806801,
 2001807004,
 2001807036,
 2001807084,
 2001807362,
 2001807415,
 2001809592,
 2001809794,
 2001809820,
 2001806471,
 2001807241,
 2001807981,
 2001808286,
 2001808801,
 2001810104,
 2001811153,
 2001811229,
 2001811363,
 2001811466,
 2001811809,
 2001812854,
 2001813009,
 2001812650,
 2001814580,
 2001815688,
 2001816131,
 2001816996,
 2001821185,
 2001821284,
 2001821679,
 2001821742,
 2001821750,
 2001821766,
 2001821995,
 2001821502,
 2001822466,
 2001820690,
 2001811604,
 2001819252,
 2001827036,
 2001806304,
 2001806768,
 2001806823,
 2001806828,
 2001806968,
 2001807328,
 2001807785,
 2001807852,
 2001807970,
 2001807329,
 2001807613,
 2001808475,
 2001808585,
 2001808679,
 2001808739,
 2001808832,
 2001808837,
 2001808883,
 2001808992,
 2001809270,
 2001809934,
 2001810125,
 2001810281,
 2001810549,
 2001810697,
 2001811039,
 2001811058,
 2001811306,
 2001812195,
 2001812941,
 2001809383,
 2001820978,
 2001811475,
 2001811305]

In [20]:
cc

,AWB Code,Order ID,Charged Weight,Zone,Type of Shipment,Billing Amount (Rs.),Order Qty,Total Weight (in KG)
0,1091117222124,2001806232,1.3,d,Forward charges,135.0,2.0,0.480
1,1091117222124,2001806232,1.3,d,Forward charges,135.0,6.0,0.822
2,1091117222194,2001806273,1.0,d,Forward charges,90.2,1.0,0.127
3,1091117222194,2001806273,1.0,d,Forward charges,90.2,1.0,0.240
4,1091117222194,2001806273,1.0,d,Forward charges,90.2,1.0,0.133
...,...,...,...,...,...,...,...,...
396,1091121844806,2001811475,0.5,b,Forward charges,33.0,1.0,0.210
397,1091121846136,2001811305,0.5,d,Forward charges,45.4,1.0,0.120
398,1091121846136,2001811305,0.5,d,Forward charges,45.4,1.0,0.210
399,1091121846136,2001811305,0.5,d,Forward charges,45.4,1.0,0.210
400,1091121846136,2001811305,0.5,d,Forward charges,45.4,1.0,0.210

In [21]:
#creating new dataframe for joining unique ids and calculating the metrices
dg = pd.DataFrame(nl, columns = ['Order_ID'])
dg['Total Weight (in KG)'] = cc['Total Weight (in KG)']

In [22]:
dg

       Order_ID  Total Weight (in KG)
0    2001806232                 0.480
1    2001806232                 0.822
2    2001806273                 0.127
3    2001806273                 0.240
4    2001806273                 0.133
..          ...                   ...
396  2001811475                 0.210
397  2001811305                 0.120
398  2001811305                 0.210
399  2001811305                 0.210
400  2001811305                 0.210

[401 rows x 2 columns]

In [23]:
cc

,AWB Code,Order ID,Charged Weight,Zone,Type of Shipment,Billing Amount (Rs.),Order Qty,Total Weight (in KG)
0,1091117222124,2001806232,1.3,d,Forward charges,135.0,2.0,0.480
1,1091117222124,2001806232,1.3,d,Forward charges,135.0,6.0,0.822
2,1091117222194,2001806273,1.0,d,Forward charges,90.2,1.0,0.127
3,1091117222194,2001806273,1.0,d,Forward charges,90.2,1.0,0.240
4,1091117222194,2001806273,1.0,d,Forward charges,90.2,1.0,0.133
...,...,...,...,...,...,...,...,...
396,1091121844806,2001811475,0.5,b,Forward charges,33.0,1.0,0.210
397,1091121846136,2001811305,0.5,d,Forward charges,45.4,1.0,0.120
398,1091121846136,2001811305,0.5,d,Forward charges,45.4,1.0,0.210
399,1091121846136,2001811305,0.5,d,Forward charges,45.4,1.0,0.210
400,1091121846136,2001811305,0.5,d,Forward charges,45.4,1.0,0.210

In [24]:
#creating new df to ease the calculation of total weight
dh =cc.groupby(['Order ID','AWB Code','Zone','Type of Shipment'])['Total Weight (in KG)','Billing Amount (Rs.)',].agg('sum')

C:\Users\harsh\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [25]:
dh

,,,,Total Weight (in KG),Billing Amount (Rs.)
Order ID,AWB Code,Zone,Type of Shipment,,
2001806210,1091117221940,b,Forward charges,0.220,349.0
2001806226,1091117222065,d,Forward charges,0.480,90.2
2001806229,1091117222080,d,Forward charges,0.500,270.6
2001806232,1091117222124,d,Forward charges,1.302,270.0
2001806233,1091117222135,b,Forward charges,0.245,122.6
...,...,...,...,...,...
2001821995,1091121183730,d,Forward charges,0.477,90.8
2001822466,1091121305541,d,Forward charges,1.376,270.0
2001823564,1091121666133,d,Forward and RTO charges,0.672,518.4
2001825261,1091121981575,d,Forward and RTO charges,1.557,1725.0
2001827036,1091122418320,b,Forward charges,2.176,1061.1

In [26]:
#Renaming
dh = dh.rename(columns = {'Total Weight (in KG)':'Total weight as per X (KG)'})
dh = dh.rename(columns = {'Expected Charge as per X (Rs.)':'Charges Billed by Courier Company (Rs.)'})

In [27]:
#deleting the index we preserved during calculation
dh['inde'] = dh.index

In [28]:
dh

,,,,Total weight as per X (KG),Billing Amount (Rs.),inde
Order ID,AWB Code,Zone,Type of Shipment,,,
2001806210,1091117221940,b,Forward charges,0.220,349.0,"(2001806210, 1091117221940, b, Forward charges)"
2001806226,1091117222065,d,Forward charges,0.480,90.2,"(2001806226, 1091117222065, d, Forward charges)"
2001806229,1091117222080,d,Forward charges,0.500,270.6,"(2001806229, 1091117222080, d, Forward charges)"
2001806232,1091117222124,d,Forward charges,1.302,270.0,"(2001806232, 1091117222124, d, Forward charges)"
2001806233,1091117222135,b,Forward charges,0.245,122.6,"(2001806233, 1091117222135, b, Forward charges)"
...,...,...,...,...,...,...
2001821995,1091121183730,d,Forward charges,0.477,90.8,"(2001821995, 1091121183730, d, Forward charges)"
2001822466,1091121305541,d,Forward charges,1.376,270.0,"(2001822466, 1091121305541, d, Forward charges)"
2001823564,1091121666133,d,Forward and RTO charges,0.672,518.4,"(2001823564, 1091121666133, d, Forward and RTO..."
2001825261,1091121981575,d,Forward and RTO charges,1.557,1725.0,"(2001825261, 1091121981575, d, Forward and RTO..."
2001827036,1091122418320,b,Forward charges,2.176,1061.1,"(2001827036, 1091122418320, b, Forward charges)"

In [29]:
ty =list(dh['inde'])

ty = pd.DataFrame(ty, columns=['Order ID', 'AWB Code', 'Zone','Type of Shipment'])
ty

       Order ID       AWB Code Zone         Type of Shipment
0    2001806210  1091117221940    b          Forward charges
1    2001806226  1091117222065    d          Forward charges
2    2001806229  1091117222080    d          Forward charges
3    2001806232  1091117222124    d          Forward charges
4    2001806233  1091117222135    b          Forward charges
..          ...            ...  ...                      ...
119  2001821995  1091121183730    d          Forward charges
120  2001822466  1091121305541    d          Forward charges
121  2001823564  1091121666133    d  Forward and RTO charges
122  2001825261  1091121981575    d  Forward and RTO charges
123  2001827036  1091122418320    b          Forward charges

[124 rows x 4 columns]

In [30]:
#resetting the indices
dh=dh.reset_index(drop=True)

In [31]:
dh

,Total weight as per X (KG),Billing Amount (Rs.),inde
0,0.220,349.0,"(2001806210, 1091117221940, b, Forward charges)"
1,0.480,90.2,"(2001806226, 1091117222065, d, Forward charges)"
2,0.500,270.6,"(2001806229, 1091117222080, d, Forward charges)"
3,1.302,270.0,"(2001806232, 1091117222124, d, Forward charges)"
4,0.245,122.6,"(2001806233, 1091117222135, b, Forward charges)"
...,...,...,...
119,0.477,90.8,"(2001821995, 1091121183730, d, Forward charges)"
120,1.376,270.0,"(2001822466, 1091121305541, d, Forward charges)"
121,0.672,518.4,"(2001823564, 1091121666133, d, Forward and RTO..."
122,1.557,1725.0,"(2001825261, 1091121981575, d, Forward and RTO..."
123,2.176,1061.1,"(2001827036, 1091122418320, b, Forward charges)"

In [32]:
#concatinating both dataframes
result = pd.concat([ty, dh], axis=1)

In [33]:
result

,Order ID,AWB Code,Zone,Type of Shipment,Total weight as per X (KG),Billing Amount (Rs.),inde
0,2001806210,1091117221940,b,Forward charges,0.220,349.0,"(2001806210, 1091117221940, b, Forward charges)"
1,2001806226,1091117222065,d,Forward charges,0.480,90.2,"(2001806226, 1091117222065, d, Forward charges)"
2,2001806229,1091117222080,d,Forward charges,0.500,270.6,"(2001806229, 1091117222080, d, Forward charges)"
3,2001806232,1091117222124,d,Forward charges,1.302,270.0,"(2001806232, 1091117222124, d, Forward charges)"
4,2001806233,1091117222135,b,Forward charges,0.245,122.6,"(2001806233, 1091117222135, b, Forward charges)"
...,...,...,...,...,...,...,...
119,2001821995,1091121183730,d,Forward charges,0.477,90.8,"(2001821995, 1091121183730, d, Forward charges)"
120,2001822466,1091121305541,d,Forward charges,1.376,270.0,"(2001822466, 1091121305541, d, Forward charges)"
121,2001823564,1091121666133,d,Forward and RTO charges,0.672,518.4,"(2001823564, 1091121666133, d, Forward and RTO..."
122,2001825261,1091121981575,d,Forward and RTO charges,1.557,1725.0,"(2001825261, 1091121981575, d, Forward and RTO..."
123,2001827036,1091122418320,b,Forward charges,2.176,1061.1,"(2001827036, 1091122418320, b, Forward charges)"

In [34]:
#Sorting and reseting the indexes
result.sort_values(by=['Order ID'])
result=result.reset_index(drop=True)
result

,Order ID,AWB Code,Zone,Type of Shipment,Total weight as per X (KG),Billing Amount (Rs.),inde
0,2001806210,1091117221940,b,Forward charges,0.220,349.0,"(2001806210, 1091117221940, b, Forward charges)"
1,2001806226,1091117222065,d,Forward charges,0.480,90.2,"(2001806226, 1091117222065, d, Forward charges)"
2,2001806229,1091117222080,d,Forward charges,0.500,270.6,"(2001806229, 1091117222080, d, Forward charges)"
3,2001806232,1091117222124,d,Forward charges,1.302,270.0,"(2001806232, 1091117222124, d, Forward charges)"
4,2001806233,1091117222135,b,Forward charges,0.245,122.6,"(2001806233, 1091117222135, b, Forward charges)"
...,...,...,...,...,...,...,...
119,2001821995,1091121183730,d,Forward charges,0.477,90.8,"(2001821995, 1091121183730, d, Forward charges)"
120,2001822466,1091121305541,d,Forward charges,1.376,270.0,"(2001822466, 1091121305541, d, Forward charges)"
121,2001823564,1091121666133,d,Forward and RTO charges,0.672,518.4,"(2001823564, 1091121666133, d, Forward and RTO..."
122,2001825261,1091121981575,d,Forward and RTO charges,1.557,1725.0,"(2001825261, 1091121981575, d, Forward and RTO..."
123,2001827036,1091122418320,b,Forward charges,2.176,1061.1,"(2001827036, 1091122418320, b, Forward charges)"

In [35]:
#deleting the useless column
del result['inde']

In [36]:
ci

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4

In [37]:
#Merging the Result and ci on Order ID
result = pd.merge(result,ci,on='Order ID')

In [38]:
result

,Order ID,AWB Code_x,Zone_x,Type of Shipment_x,Total weight as per X (KG),Billing Amount (Rs.)_x,AWB Code_y,Charged Weight,Warehouse Pincode,Customer Pincode,Zone_y,Type of Shipment_y,Billing Amount (Rs.)_y
0,2001806210,1091117221940,b,Forward charges,0.220,349.0,1091117221940,2.92,121003,140604,b,Forward charges,174.5
1,2001806226,1091117222065,d,Forward charges,0.480,90.2,1091117222065,0.68,121003,723146,d,Forward charges,90.2
2,2001806229,1091117222080,d,Forward charges,0.500,270.6,1091117222080,0.71,121003,421204,d,Forward charges,90.2
3,2001806232,1091117222124,d,Forward charges,1.302,270.0,1091117222124,1.30,121003,507101,d,Forward charges,135.0
4,2001806233,1091117222135,b,Forward charges,0.245,122.6,1091117222135,0.78,121003,263139,b,Forward charges,61.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001821995,1091121183730,d,Forward charges,0.477,90.8,1091121183730,0.50,121003,342008,d,Forward charges,45.4
120,2001822466,1091121305541,d,Forward charges,1.376,270.0,1091121305541,1.10,121003,342301,d,Forward charges,135.0
121,2001823564,1091121666133,d,Forward and RTO charges,0.672,518.4,1091121666133,0.70,121003,492001,d,Forward and RTO charges,172.8
122,2001825261,1091121981575,d,Forward and RTO charges,1.557,1725.0,1091121981575,1.60,121003,517128,d,Forward and RTO charges,345.0
123,2001827036,1091122418320,b,Forward charges,2.176,1061.1,1091122418320,1.60,121003,173213,b,Forward charges,117.9

In [39]:
#Dropping the unnecessary columns
result = result.drop('Warehouse Pincode', 1)
result = result.drop('Type of Shipment_y', 1)
result = result.drop('AWB Code_y', 1)
result = result.drop('Billing Amount (Rs.)_x', 1)
result = result.drop('Zone_y', 1)

In [40]:
result

,Order ID,AWB Code_x,Zone_x,Type of Shipment_x,Total weight as per X (KG),Charged Weight,Customer Pincode,Billing Amount (Rs.)_y
0,2001806210,1091117221940,b,Forward charges,0.220,2.92,140604,174.5
1,2001806226,1091117222065,d,Forward charges,0.480,0.68,723146,90.2
2,2001806229,1091117222080,d,Forward charges,0.500,0.71,421204,90.2
3,2001806232,1091117222124,d,Forward charges,1.302,1.30,507101,135.0
4,2001806233,1091117222135,b,Forward charges,0.245,0.78,263139,61.3
...,...,...,...,...,...,...,...,...
119,2001821995,1091121183730,d,Forward charges,0.477,0.50,342008,45.4
120,2001822466,1091121305541,d,Forward charges,1.376,1.10,342301,135.0
121,2001823564,1091121666133,d,Forward and RTO charges,0.672,0.70,492001,172.8
122,2001825261,1091121981575,d,Forward and RTO charges,1.557,1.60,517128,345.0
123,2001827036,1091122418320,b,Forward charges,2.176,1.60,173213,117.9

In [41]:
#Renaming the Columns as per the needs
result = result.rename(columns = {'AWB Code_x':'AWB Code'})
result = result.rename(columns = {'Zone_x':'Delivery Zone charged by Courier Company'})
result = result.rename(columns = {'Billing Amount (Rs.)_y':'Charges Billed by Courier Company (Rs.)'})
result = result.rename(columns = {'Type of Shipment_x':'Type of Shipment'})
result = result.rename(columns = {'Charged Weight':'Total weight as per Courier Company (KG)'})

In [42]:
result

,Order ID,AWB Code,Delivery Zone charged by Courier Company,Type of Shipment,Total weight as per X (KG),Total weight as per Courier Company (KG),Customer Pincode,Charges Billed by Courier Company (Rs.)
0,2001806210,1091117221940,b,Forward charges,0.220,2.92,140604,174.5
1,2001806226,1091117222065,d,Forward charges,0.480,0.68,723146,90.2
2,2001806229,1091117222080,d,Forward charges,0.500,0.71,421204,90.2
3,2001806232,1091117222124,d,Forward charges,1.302,1.30,507101,135.0
4,2001806233,1091117222135,b,Forward charges,0.245,0.78,263139,61.3
...,...,...,...,...,...,...,...,...
119,2001821995,1091121183730,d,Forward charges,0.477,0.50,342008,45.4
120,2001822466,1091121305541,d,Forward charges,1.376,1.10,342301,135.0
121,2001823564,1091121666133,d,Forward and RTO charges,0.672,0.70,492001,172.8
122,2001825261,1091121981575,d,Forward and RTO charges,1.557,1.60,517128,345.0
123,2001827036,1091122418320,b,Forward charges,2.176,1.60,173213,117.9

In [43]:
result

,Order ID,AWB Code,Delivery Zone charged by Courier Company,Type of Shipment,Total weight as per X (KG),Total weight as per Courier Company (KG),Customer Pincode,Charges Billed by Courier Company (Rs.)
0,2001806210,1091117221940,b,Forward charges,0.220,2.92,140604,174.5
1,2001806226,1091117222065,d,Forward charges,0.480,0.68,723146,90.2
2,2001806229,1091117222080,d,Forward charges,0.500,0.71,421204,90.2
3,2001806232,1091117222124,d,Forward charges,1.302,1.30,507101,135.0
4,2001806233,1091117222135,b,Forward charges,0.245,0.78,263139,61.3
...,...,...,...,...,...,...,...,...
119,2001821995,1091121183730,d,Forward charges,0.477,0.50,342008,45.4
120,2001822466,1091121305541,d,Forward charges,1.376,1.10,342301,135.0
121,2001823564,1091121666133,d,Forward and RTO charges,0.672,0.70,492001,172.8
122,2001825261,1091121981575,d,Forward and RTO charges,1.557,1.60,517128,345.0
123,2001827036,1091122418320,b,Forward charges,2.176,1.60,173213,117.9

In [44]:
#Merging the result and xpz on Customer Pincode to link Delivery Zone as per X
result = pd.merge(result,xpz,on='Customer Pincode')

In [45]:
result

,Order ID,AWB Code,Delivery Zone charged by Courier Company,Type of Shipment,Total weight as per X (KG),Total weight as per Courier Company (KG),Customer Pincode,Charges Billed by Courier Company (Rs.),Warehouse Pincode,Zone
0,2001806210,1091117221940,b,Forward charges,0.220,2.92,140604,174.5,121003,b
1,2001806226,1091117222065,d,Forward charges,0.480,0.68,723146,90.2,121003,d
2,2001806229,1091117222080,d,Forward charges,0.500,0.71,421204,90.2,121003,d
3,2001806232,1091117222124,d,Forward charges,1.302,1.30,507101,135.0,121003,d
4,2001806233,1091117222135,b,Forward charges,0.245,0.78,263139,61.3,121003,b
...,...,...,...,...,...,...,...,...,...,...
169,2001821995,1091121183730,d,Forward charges,0.477,0.50,342008,45.4,121003,b
170,2001822466,1091121305541,d,Forward charges,1.376,1.10,342301,135.0,121003,b
171,2001823564,1091121666133,d,Forward and RTO charges,0.672,0.70,492001,172.8,121003,d
172,2001825261,1091121981575,d,Forward and RTO charges,1.557,1.60,517128,345.0,121003,d
173,2001827036,1091122418320,b,Forward charges,2.176,1.60,173213,117.9,121003,e

In [46]:
#Dropping and Renaming as per requirement
result = result.drop('Warehouse Pincode', 1)
result = result.rename(columns = {'Zone':'Delivery Zone as per X'})

In [47]:
result

,Order ID,AWB Code,Delivery Zone charged by Courier Company,Type of Shipment,Total weight as per X (KG),Total weight as per Courier Company (KG),Customer Pincode,Charges Billed by Courier Company (Rs.),Delivery Zone as per X
0,2001806210,1091117221940,b,Forward charges,0.220,2.92,140604,174.5,b
1,2001806226,1091117222065,d,Forward charges,0.480,0.68,723146,90.2,d
2,2001806229,1091117222080,d,Forward charges,0.500,0.71,421204,90.2,d
3,2001806232,1091117222124,d,Forward charges,1.302,1.30,507101,135.0,d
4,2001806233,1091117222135,b,Forward charges,0.245,0.78,263139,61.3,b
...,...,...,...,...,...,...,...,...,...
169,2001821995,1091121183730,d,Forward charges,0.477,0.50,342008,45.4,b
170,2001822466,1091121305541,d,Forward charges,1.376,1.10,342301,135.0,b
171,2001823564,1091121666133,d,Forward and RTO charges,0.672,0.70,492001,172.8,d
172,2001825261,1091121981575,d,Forward and RTO charges,1.557,1.60,517128,345.0,d
173,2001827036,1091122418320,b,Forward charges,2.176,1.60,173213,117.9,e

In [48]:
#Calculating Weight slab charged by Courier Company (KG)

result['Additionals as per Courier Company'] = (result['Total weight as per Courier Company (KG)']/0.5000000000001)
result['Additionals as per Courier Company'] = result['Additionals as per Courier Company'].apply(np.int64)
result['Weight slab charged by Courier Company (KG)'] = ((result['Additionals as per Courier Company']+1)*0.5)


#Calculating Weight slab as per X (KG)

result['Additionals as per X'] = (result['Total weight as per X (KG)']/0.5000000000001)
result['Additionals as per X'] = result['Additionals as per X'].apply(np.int64)
result['Weight slab as per X (KG)'] = ((result['Additionals as per X']+1)*0.5)

In [49]:
result

,Order ID,AWB Code,Delivery Zone charged by Courier Company,Type of Shipment,Total weight as per X (KG),Total weight as per Courier Company (KG),Customer Pincode,Charges Billed by Courier Company (Rs.),Delivery Zone as per X,Additionals as per Courier Company,Weight slab charged by Courier Company (KG),Additionals as per X,Weight slab as per X (KG)
0,2001806210,1091117221940,b,Forward charges,0.220,2.92,140604,174.5,b,5,3.0,0,0.5
1,2001806226,1091117222065,d,Forward charges,0.480,0.68,723146,90.2,d,1,1.0,0,0.5
2,2001806229,1091117222080,d,Forward charges,0.500,0.71,421204,90.2,d,1,1.0,0,0.5
3,2001806232,1091117222124,d,Forward charges,1.302,1.30,507101,135.0,d,2,1.5,2,1.5
4,2001806233,1091117222135,b,Forward charges,0.245,0.78,263139,61.3,b,1,1.0,0,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2001821995,1091121183730,d,Forward charges,0.477,0.50,342008,45.4,b,0,0.5,0,0.5
170,2001822466,1091121305541,d,Forward charges,1.376,1.10,342301,135.0,b,2,1.5,2,1.5
171,2001823564,1091121666133,d,Forward and RTO charges,0.672,0.70,492001,172.8,d,1,1.0,1,1.0
172,2001825261,1091121981575,d,Forward and RTO charges,1.557,1.60,517128,345.0,d,3,2.0,3,2.0
173,2001827036,1091122418320,b,Forward charges,2.176,1.60,173213,117.9,e,3,2.0,4,2.5

In [50]:
#Dropping Pincode now
result = result.drop('Customer Pincode', 1)

In [51]:
result

,Order ID,AWB Code,Delivery Zone charged by Courier Company,Type of Shipment,Total weight as per X (KG),Total weight as per Courier Company (KG),Charges Billed by Courier Company (Rs.),Delivery Zone as per X,Additionals as per Courier Company,Weight slab charged by Courier Company (KG),Additionals as per X,Weight slab as per X (KG)
0,2001806210,1091117221940,b,Forward charges,0.220,2.92,174.5,b,5,3.0,0,0.5
1,2001806226,1091117222065,d,Forward charges,0.480,0.68,90.2,d,1,1.0,0,0.5
2,2001806229,1091117222080,d,Forward charges,0.500,0.71,90.2,d,1,1.0,0,0.5
3,2001806232,1091117222124,d,Forward charges,1.302,1.30,135.0,d,2,1.5,2,1.5
4,2001806233,1091117222135,b,Forward charges,0.245,0.78,61.3,b,1,1.0,0,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...
169,2001821995,1091121183730,d,Forward charges,0.477,0.50,45.4,b,0,0.5,0,0.5
170,2001822466,1091121305541,d,Forward charges,1.376,1.10,135.0,b,2,1.5,2,1.5
171,2001823564,1091121666133,d,Forward and RTO charges,0.672,0.70,172.8,d,1,1.0,1,1.0
172,2001825261,1091121981575,d,Forward and RTO charges,1.557,1.60,345.0,d,3,2.0,3,2.0
173,2001827036,1091122418320,b,Forward charges,2.176,1.60,117.9,e,3,2.0,4,2.5

In [52]:
cr

,fwd_a_fixed,fwd_a_additional,fwd_b_fixed,fwd_b_additional,fwd_c_fixed,fwd_c_additional,fwd_d_fixed,fwd_d_additional,fwd_e_fixed,fwd_e_additional,rto_a_fixed,rto_a_additional,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional
0,29.5,23.6,33,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5

In [53]:
#Just successfully tried a very different apprach to solve this problem. NEED ATTENTION!!
result['Additional or not'] = result['Additionals as per X'].astype(str)

In [54]:
result

,Order ID,AWB Code,Delivery Zone charged by Courier Company,Type of Shipment,Total weight as per X (KG),Total weight as per Courier Company (KG),Charges Billed by Courier Company (Rs.),Delivery Zone as per X,Additionals as per Courier Company,Weight slab charged by Courier Company (KG),Additionals as per X,Weight slab as per X (KG),Additional or not
0,2001806210,1091117221940,b,Forward charges,0.220,2.92,174.5,b,5,3.0,0,0.5,0
1,2001806226,1091117222065,d,Forward charges,0.480,0.68,90.2,d,1,1.0,0,0.5,0
2,2001806229,1091117222080,d,Forward charges,0.500,0.71,90.2,d,1,1.0,0,0.5,0
3,2001806232,1091117222124,d,Forward charges,1.302,1.30,135.0,d,2,1.5,2,1.5,2
4,2001806233,1091117222135,b,Forward charges,0.245,0.78,61.3,b,1,1.0,0,0.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2001821995,1091121183730,d,Forward charges,0.477,0.50,45.4,b,0,0.5,0,0.5,0
170,2001822466,1091121305541,d,Forward charges,1.376,1.10,135.0,b,2,1.5,2,1.5,2
171,2001823564,1091121666133,d,Forward and RTO charges,0.672,0.70,172.8,d,1,1.0,1,1.0,1
172,2001825261,1091121981575,d,Forward and RTO charges,1.557,1.60,345.0,d,3,2.0,3,2.0,3
173,2001827036,1091122418320,b,Forward charges,2.176,1.60,117.9,e,3,2.0,4,2.5,4

In [55]:
#This is the first part of the Approach
result['Combo'] = result['Delivery Zone charged by Courier Company']+result['Type of Shipment']

In [56]:
result

,Order ID,AWB Code,Delivery Zone charged by Courier Company,Type of Shipment,Total weight as per X (KG),Total weight as per Courier Company (KG),Charges Billed by Courier Company (Rs.),Delivery Zone as per X,Additionals as per Courier Company,Weight slab charged by Courier Company (KG),Additionals as per X,Weight slab as per X (KG),Additional or not,Combo
0,2001806210,1091117221940,b,Forward charges,0.220,2.92,174.5,b,5,3.0,0,0.5,0,bForward charges
1,2001806226,1091117222065,d,Forward charges,0.480,0.68,90.2,d,1,1.0,0,0.5,0,dForward charges
2,2001806229,1091117222080,d,Forward charges,0.500,0.71,90.2,d,1,1.0,0,0.5,0,dForward charges
3,2001806232,1091117222124,d,Forward charges,1.302,1.30,135.0,d,2,1.5,2,1.5,2,dForward charges
4,2001806233,1091117222135,b,Forward charges,0.245,0.78,61.3,b,1,1.0,0,0.5,0,bForward charges
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2001821995,1091121183730,d,Forward charges,0.477,0.50,45.4,b,0,0.5,0,0.5,0,dForward charges
170,2001822466,1091121305541,d,Forward charges,1.376,1.10,135.0,b,2,1.5,2,1.5,2,dForward charges
171,2001823564,1091121666133,d,Forward and RTO charges,0.672,0.70,172.8,d,1,1.0,1,1.0,1,dForward and RTO charges
172,2001825261,1091121981575,d,Forward and RTO charges,1.557,1.60,345.0,d,3,2.0,3,2.0,3,dForward and RTO charges
173,2001827036,1091122418320,b,Forward charges,2.176,1.60,117.9,e,3,2.0,4,2.5,4,bForward charges

In [57]:
result

,Order ID,AWB Code,Delivery Zone charged by Courier Company,Type of Shipment,Total weight as per X (KG),Total weight as per Courier Company (KG),Charges Billed by Courier Company (Rs.),Delivery Zone as per X,Additionals as per Courier Company,Weight slab charged by Courier Company (KG),Additionals as per X,Weight slab as per X (KG),Additional or not,Combo
0,2001806210,1091117221940,b,Forward charges,0.220,2.92,174.5,b,5,3.0,0,0.5,0,bForward charges
1,2001806226,1091117222065,d,Forward charges,0.480,0.68,90.2,d,1,1.0,0,0.5,0,dForward charges
2,2001806229,1091117222080,d,Forward charges,0.500,0.71,90.2,d,1,1.0,0,0.5,0,dForward charges
3,2001806232,1091117222124,d,Forward charges,1.302,1.30,135.0,d,2,1.5,2,1.5,2,dForward charges
4,2001806233,1091117222135,b,Forward charges,0.245,0.78,61.3,b,1,1.0,0,0.5,0,bForward charges
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2001821995,1091121183730,d,Forward charges,0.477,0.50,45.4,b,0,0.5,0,0.5,0,dForward charges
170,2001822466,1091121305541,d,Forward charges,1.376,1.10,135.0,b,2,1.5,2,1.5,2,dForward charges
171,2001823564,1091121666133,d,Forward and RTO charges,0.672,0.70,172.8,d,1,1.0,1,1.0,1,dForward and RTO charges
172,2001825261,1091121981575,d,Forward and RTO charges,1.557,1.60,345.0,d,3,2.0,3,2.0,3,dForward and RTO charges
173,2001827036,1091122418320,b,Forward charges,2.176,1.60,117.9,e,3,2.0,4,2.5,4,bForward charges

In [58]:
#Checking whether the a,c and d were useful or not. But still made function for them for future perspective
result['Delivery Zone as per X'].unique()

array(['b', 'd', 'e'], dtype=object)

In [59]:
result['Final Price acc X'] = 0

count_row = result.shape[0]  # Gives number of rows
for i in range(count_row):
    if result['Combo'][i]=='aForward charges':
        result['Final Price acc X'][i] = 29.5 + (result['Additionals as per X'][i]*23.6)



    if result['Combo'][i]=='bForward charges':
        result['Final Price acc X'][i] = 33 + (result['Additionals as per X'][i]*28.3)



    if result['Combo'][i]=='cForward charges':
        result['Final Price acc X'][i] = 40.1 + (result['Additionals as per X'][i]*38.9)


    if result['Combo'][i]=='dForward charges':
        result['Final Price acc X'][i] = 45.4 + (result['Additionals as per X'][i]*44.8)


    if result['Combo'][i]=='eForward charges':
        result['Final Price acc X'][i] = 56.6 + (result['Additionals as per X'][i]*55.5)



    if result['Combo'][i]=='aForward and RTO charges':
        result['Final Price acc X'][i] = 29.5 + 13.6 + (result['Additionals as per X'][i]*23.6) + (result['Additionals as per X'][i]*23.6) 


    if result['Combo'][i]=='bForward and RTO charges':
        result['Final Price acc X'][i] = 33 + 20.5 +(result['Additionals as per X'][i]*33) + (result['Additionals as per X'][i]*28.3)


    if result['Combo'][i]=='cForward and RTO charges':
        result['Final Price acc X'][i] = 40.1 + 31.9 + (result['Additionals as per X'][i]*40.1) + (result['Additionals as per X'][i]*38.9)


    if result['Combo'][i]=='dForward and RTO charges':
        result['Final Price acc X'][i] = 45.4 + 41.3 + (result['Additionals as per X'][i]*45.4) + (result['Additionals as per X'][i]*44.8)


    if result['Combo'][i]=='eForward and RTO charges':
        result['Final Price acc X'][i] = 56.6 +50.7 + (result['Additionals as per X'][i]*56.6) + (result['Additionals as per X'][i]*55.5)

C:\Users\harsh\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\harsh\anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\harsh\anaconda3\lib\site-packages\ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\harsh\anaconda3\lib\site-packages\ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\harsh\anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [60]:
result

,Order ID,AWB Code,Delivery Zone charged by Courier Company,Type of Shipment,Total weight as per X (KG),Total weight as per Courier Company (KG),Charges Billed by Courier Company (Rs.),Delivery Zone as per X,Additionals as per Courier Company,Weight slab charged by Courier Company (KG),Additionals as per X,Weight slab as per X (KG),Additional or not,Combo,Final Price acc X
0,2001806210,1091117221940,b,Forward charges,0.220,2.92,174.5,b,5,3.0,0,0.5,0,bForward charges,33
1,2001806226,1091117222065,d,Forward charges,0.480,0.68,90.2,d,1,1.0,0,0.5,0,dForward charges,45
2,2001806229,1091117222080,d,Forward charges,0.500,0.71,90.2,d,1,1.0,0,0.5,0,dForward charges,45
3,2001806232,1091117222124,d,Forward charges,1.302,1.30,135.0,d,2,1.5,2,1.5,2,dForward charges,135
4,2001806233,1091117222135,b,Forward charges,0.245,0.78,61.3,b,1,1.0,0,0.5,0,bForward charges,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2001821995,1091121183730,d,Forward charges,0.477,0.50,45.4,b,0,0.5,0,0.5,0,dForward charges,45
170,2001822466,1091121305541,d,Forward charges,1.376,1.10,135.0,b,2,1.5,2,1.5,2,dForward charges,135
171,2001823564,1091121666133,d,Forward and RTO charges,0.672,0.70,172.8,d,1,1.0,1,1.0,1,dForward and RTO charges,176
172,2001825261,1091121981575,d,Forward and RTO charges,1.557,1.60,345.0,d,3,2.0,3,2.0,3,dForward and RTO charges,357
173,2001827036,1091122418320,b,Forward charges,2.176,1.60,117.9,e,3,2.0,4,2.5,4,bForward charges,146

In [61]:
output_data_1 = result.copy(deep=True)

In [62]:
output_data_1

,Order ID,AWB Code,Delivery Zone charged by Courier Company,Type of Shipment,Total weight as per X (KG),Total weight as per Courier Company (KG),Charges Billed by Courier Company (Rs.),Delivery Zone as per X,Additionals as per Courier Company,Weight slab charged by Courier Company (KG),Additionals as per X,Weight slab as per X (KG),Additional or not,Combo,Final Price acc X
0,2001806210,1091117221940,b,Forward charges,0.220,2.92,174.5,b,5,3.0,0,0.5,0,bForward charges,33
1,2001806226,1091117222065,d,Forward charges,0.480,0.68,90.2,d,1,1.0,0,0.5,0,dForward charges,45
2,2001806229,1091117222080,d,Forward charges,0.500,0.71,90.2,d,1,1.0,0,0.5,0,dForward charges,45
3,2001806232,1091117222124,d,Forward charges,1.302,1.30,135.0,d,2,1.5,2,1.5,2,dForward charges,135
4,2001806233,1091117222135,b,Forward charges,0.245,0.78,61.3,b,1,1.0,0,0.5,0,bForward charges,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2001821995,1091121183730,d,Forward charges,0.477,0.50,45.4,b,0,0.5,0,0.5,0,dForward charges,45
170,2001822466,1091121305541,d,Forward charges,1.376,1.10,135.0,b,2,1.5,2,1.5,2,dForward charges,135
171,2001823564,1091121666133,d,Forward and RTO charges,0.672,0.70,172.8,d,1,1.0,1,1.0,1,dForward and RTO charges,176
172,2001825261,1091121981575,d,Forward and RTO charges,1.557,1.60,345.0,d,3,2.0,3,2.0,3,dForward and RTO charges,357
173,2001827036,1091122418320,b,Forward charges,2.176,1.60,117.9,e,3,2.0,4,2.5,4,bForward charges,146

In [63]:
#Removing all the columns which are not useful now.

result = result.drop('Type of Shipment', 1)
result = result.drop('Additionals as per Courier Company', 1)

result = result.drop('Additionals as per X', 1)
result = result.drop('Additional or not', 1)
result = result.drop('Combo', 1)

In [64]:
result

,Order ID,AWB Code,Delivery Zone charged by Courier Company,Total weight as per X (KG),Total weight as per Courier Company (KG),Charges Billed by Courier Company (Rs.),Delivery Zone as per X,Weight slab charged by Courier Company (KG),Weight slab as per X (KG),Final Price acc X
0,2001806210,1091117221940,b,0.220,2.92,174.5,b,3.0,0.5,33
1,2001806226,1091117222065,d,0.480,0.68,90.2,d,1.0,0.5,45
2,2001806229,1091117222080,d,0.500,0.71,90.2,d,1.0,0.5,45
3,2001806232,1091117222124,d,1.302,1.30,135.0,d,1.5,1.5,135
4,2001806233,1091117222135,b,0.245,0.78,61.3,b,1.0,0.5,33
...,...,...,...,...,...,...,...,...,...,...
169,2001821995,1091121183730,d,0.477,0.50,45.4,b,0.5,0.5,45
170,2001822466,1091121305541,d,1.376,1.10,135.0,b,1.5,1.5,135
171,2001823564,1091121666133,d,0.672,0.70,172.8,d,1.0,1.0,176
172,2001825261,1091121981575,d,1.557,1.60,345.0,d,2.0,2.0,357
173,2001827036,1091122418320,b,2.176,1.60,117.9,e,2.0,2.5,146

In [65]:
#Renaming
result = result.rename(columns = {'Final Price acc X':'Expected Charge as per X (Rs.)'})


#Generating a new column that is the Difference Between Expected Charges and Billed Charges (Rs.)
result['Difference Between Expected Charges and Billed Charges (Rs.)'] = result['Expected Charge as per X (Rs.)'] - result['Charges Billed by Courier Company (Rs.)']

In [66]:
result

,Order ID,AWB Code,Delivery Zone charged by Courier Company,Total weight as per X (KG),Total weight as per Courier Company (KG),Charges Billed by Courier Company (Rs.),Delivery Zone as per X,Weight slab charged by Courier Company (KG),Weight slab as per X (KG),Expected Charge as per X (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001806210,1091117221940,b,0.220,2.92,174.5,b,3.0,0.5,33,-141.5
1,2001806226,1091117222065,d,0.480,0.68,90.2,d,1.0,0.5,45,-45.2
2,2001806229,1091117222080,d,0.500,0.71,90.2,d,1.0,0.5,45,-45.2
3,2001806232,1091117222124,d,1.302,1.30,135.0,d,1.5,1.5,135,0.0
4,2001806233,1091117222135,b,0.245,0.78,61.3,b,1.0,0.5,33,-28.3
...,...,...,...,...,...,...,...,...,...,...,...
169,2001821995,1091121183730,d,0.477,0.50,45.4,b,0.5,0.5,45,-0.4
170,2001822466,1091121305541,d,1.376,1.10,135.0,b,1.5,1.5,135,0.0
171,2001823564,1091121666133,d,0.672,0.70,172.8,d,1.0,1.0,176,3.2
172,2001825261,1091121981575,d,1.557,1.60,345.0,d,2.0,2.0,357,12.0
173,2001827036,1091122418320,b,2.176,1.60,117.9,e,2.0,2.5,146,28.1

In [67]:
#Rearranging all the columns as per the need
result = result.iloc[:, [0,1,3,8,4,7,6,2,9,5,10]]

In [68]:
result

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001806210,1091117221940,0.220,0.5,2.92,3.0,b,b,33,174.5,-141.5
1,2001806226,1091117222065,0.480,0.5,0.68,1.0,d,d,45,90.2,-45.2
2,2001806229,1091117222080,0.500,0.5,0.71,1.0,d,d,45,90.2,-45.2
3,2001806232,1091117222124,1.302,1.5,1.30,1.5,d,d,135,135.0,0.0
4,2001806233,1091117222135,0.245,0.5,0.78,1.0,b,b,33,61.3,-28.3
...,...,...,...,...,...,...,...,...,...,...,...
169,2001821995,1091121183730,0.477,0.5,0.50,0.5,b,d,45,45.4,-0.4
170,2001822466,1091121305541,1.376,1.5,1.10,1.5,b,d,135,135.0,0.0
171,2001823564,1091121666133,0.672,1.0,0.70,1.0,d,d,176,172.8,3.2
172,2001825261,1091121981575,1.557,2.0,1.60,2.0,d,d,357,345.0,12.0
173,2001827036,1091122418320,2.176,2.5,1.60,2.0,e,b,146,117.9,28.1

In [69]:
#Calculating Status, Count, Amount of:
#Total Orders - Correctly Charged - y,q
#Total Orders - Over Charged - z,r
#Total Orders - Under Charged - x,p


x,y,z = 0, 0, 0
p,q,r = 0, 0, 0
# iterating each number in list
for num in result['Difference Between Expected Charges and Billed Charges (Rs.)']:
    if num > 0:
        x += 1
    elif num == 0:
        y +=1
    else:
        z += 1


for i in range(count_row):
    if result['Difference Between Expected Charges and Billed Charges (Rs.)'][i]>0:
        p=p+result['Difference Between Expected Charges and Billed Charges (Rs.)'][i]
        
    elif result['Difference Between Expected Charges and Billed Charges (Rs.)'][i]==0:
        q=q+result['Expected Charge as per X (Rs.)'][i]
        
    elif result['Difference Between Expected Charges and Billed Charges (Rs.)'][i]<0:
        r=r+result['Difference Between Expected Charges and Billed Charges (Rs.)'][i]

In [70]:
Correctly_Charged = {y:q}
Over_Charged = {z:r}
Under_Charged = {x:p}



print(Correctly_Charged) 
print(Over_Charged)
print(Under_Charged)

{6: 504}
{145: -4303.199999999989}
{23: 581.4}

In [71]:
#Creating dataframe for the final outcomes
output = pd.DataFrame({
   "Count": [y,z,x],
   "Amount": [q,r,p]
})


index = pd.Index(['Total Orders - Correctly Charged','Total Orders - Over Charged','Total Orders - Under Charged'])
output = output.set_index(index)

In [72]:
output

                                  Count  Amount
Total Orders - Correctly Charged      6   504.0
Total Orders - Over Charged         145 -4303.2
Total Orders - Under Charged         23   581.4

In [73]:
result

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001806210,1091117221940,0.220,0.5,2.92,3.0,b,b,33,174.5,-141.5
1,2001806226,1091117222065,0.480,0.5,0.68,1.0,d,d,45,90.2,-45.2
2,2001806229,1091117222080,0.500,0.5,0.71,1.0,d,d,45,90.2,-45.2
3,2001806232,1091117222124,1.302,1.5,1.30,1.5,d,d,135,135.0,0.0
4,2001806233,1091117222135,0.245,0.5,0.78,1.0,b,b,33,61.3,-28.3
...,...,...,...,...,...,...,...,...,...,...,...
169,2001821995,1091121183730,0.477,0.5,0.50,0.5,b,d,45,45.4,-0.4
170,2001822466,1091121305541,1.376,1.5,1.10,1.5,b,d,135,135.0,0.0
171,2001823564,1091121666133,0.672,1.0,0.70,1.0,d,d,176,172.8,3.2
172,2001825261,1091121981575,1.557,2.0,1.60,2.0,d,d,357,345.0,12.0
173,2001827036,1091122418320,2.176,2.5,1.60,2.0,e,b,146,117.9,28.1

In [74]:

# saving the excel

summary = 'summary.xlsx'
output.to_excel(summary)
print('Summary is written to Excel File successfully.')

# saving the excel

calculations = 'calculations.xlsx'
result.to_excel(calculations)
print('Calculations are written to Excel File successfully.')

Summary is written to Excel File successfully.
Calculations are written to Excel File successfully.